$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*-------------------------------------
TYPOGRAPHY
------------------------------------------*/
body {
	font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.h1-text{
  font-size: 36px;
}
.h2-text{
  font-size: 30px;
}
.h3-text{
  font-size: 24px;
}
.h4-text{
  font-size: 18px;
}
.h5-text{
  font-size: 14px;
}
.h6-text{
  font-size: 12px;
}


/*-------------------------------------
BRANDING
------------------------------------------*/

.outline-brand {
  border-color: #0acbea;
  border-width: medium;
  border-radius: 0;
}

.outline-yellow {
  border-color: #EBB600;
  border-width: medium;
  border-radius: 0;
}

.bg-brand, .bg-brand.panel-heading {
  background-color: #0acbea;
  color: #fff;
}
.bg-yellow {
  background-color: #EBB600;
  //color: #fff;
}

.dzr-brand {color: #0acbea;}
.dzr-brand-shadow {color: #006E80;}
.dzr-brand-hover {color: #EBB600;}
.dzr-lighttext {color: #e6f9fc;}
.dzr-darktext {color: #003340;}
.dzr-green {color: #88c048;}
.dzr-blue {color: #0acbea;}
.dzr-red {color: #FD6C6E;}
.dzr-purple {color: #C066AE;}
.dzr-yellow {color: #ebb600;}


.btn-primary {
  background-color: #0acbea;
  border-color: #0acbea;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #006E80;
  border-color: #006E80;
}

.modal-backdrop, .modal-backdrop.in {
   background-color: rgba(10,203,234,1);
   opacity: 1;
}

/*---------------------*/

.item-header, .panel .item-header {
  background-color: #C066AE;
  color: #fff;
}

.expert-title {
  padding-bottom: 30px;
  font-weight: 200;
  color: #212121;
}
.expert-button {
  padding-bottom: 30px;
  padding-top: 30px;
}

.close, .close:hover, .close:focus {
  color: #000;
  background: #0acbea;
}

.navbar-brand {
  display: block;
  padding: 0;
}

.no-top-margin{
  margin-top: 0;
}

.no-bottom-margin{
  margin-bottom: 0;
}

.brand-img {
  height: 50px;
  width: auto;
}

.header {
  padding-left: 0;
  padding-right: 0;
}

.navbar.navbar-default {
  padding-left: 15px;
  padding-right: 15px;
}

.create-button{
  padding-top: 0;
  padding-bottom: 15px;
  padding-right: 30px;
}

.cursor-hand {
  cursor: pointer;
}

.dzr-pagination {
  margin: 10px 0 5px 0;
}
/*---------------------*/
  


.panel-row-override {
  //this is only needed to negate the styling from panels, and make it like list-group-items, because boostrap quirk requires panel class to get accordion behavior
  margin-bottom: -1px;
  background-color: $list-group-bg;
  border: 1px solid $list-group-border;
  border-radius: 0;
  @include box-shadow(0 0px 0px rgba(0,0,0,0));
  
  //overriding row spacing here too
  margin-left:  0;
  margin-right: 0;
  padding: 0;  
}

.col-override{
  padding-top: 10px;
  padding-bottom: 5px;
}

.no-padding{
  padding: 0;
}

.no-topbottom-padding{
  padding-top: 0;
  padding-bottom: 0;
}





.testoutline{
  //this is just for testing - uncomment to see the test outlines
  //border: 1px solid blueviolet;
}
.testfill{
  //just for testing
 // background-color: yellow;
}

.group-header{
  cursor: pointer;
  background-color: #ccc;
  font-size: 18px;
  @include border-bottom-radius($list-group-border-radius);
}

.header-type-test{
  background-color: #bcbde5;
}

.group-header-with-list{
  //TODO this doesn't seem to work... (git hub issue #11)
  @include border-bottom-radius(0);
}

.group-header-group{
  //make the group header & its uncollapsed list not have any gaps, overriding .list-group
  margin-bottom: -1px;
  
}

.list-with-group-header {
  // Un-Round the first item, override list-group-item
  &:first-child {
    @include border-top-radius(0);
  }
}

.item-well {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  //background-color: #F7FEFF;
}

.item-panel{
  padding-bottom: 0;
}

.solution-well{
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.solution-row{
  margin-left: 0;
}

.task-details{
  font-size: 18px;
}

.btns-thumbs{
  font-size: 36px;
  padding-bottom: 10px;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.item{
  font-size: 24px;
}
.edit{
  font-size: 24px;
}

.custom-search-form{
    margin-top:5px;
    font-size: 24px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.button{
  cursor: pointer;
}
