<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>Awesome List</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0">
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	
		<style>[ng-cloak] { display: none; }

			.slip-reordering {
			box-shadow: 0 2px 10px rgba(0,0,0,0.45);
			}

			.slip-swiping-container {
			overflow-x: hidden;
			}
			#todo-list li {
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			cursor: default;
			}

		</style>
	
	</head>
	
	<body ng-app="todomvc">
		<ng-view />

		<script type="text/ng-template" id="todomvc-index.html">
			<section id="todoapp">
				<header id="header">
					<h1>doozer</h1>
					<form id="todo-form" ng-submit="addTodo()">
						<input id="new-todo" placeholder="Add New Items Here!!" ng-model="newTodo" ng-disabled="saving" autofocus>
					</form>
				</header>
				
				<section id="main" ng-show="todos.length" ng-cloak>
					<ul id="todo-list">
						<li ng-repeat="todo in todos | orderBy:'order'" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
							<div class="view">
								<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
								<label ng-dblclick="editTodo(todo)">{{todo.title}}     order_id={{todo.order}}</label>
								<button class="destroy" ng-click="removeTodo(todo)"></button>
							</div>
							<form ng-submit="saveEdits(todo, 'submit')">
								<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
							</form>
						</li>
					</ul>
				</section>
				
			</section>

		</script>



		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/slip.js"></script>
		<script src="js/controllers/todoCtrl.js"></script>
		<script src="js/services/todoStorage.js"></script>
		<script src="js/directives/todoFocus.js"></script>
		<script src="js/directives/todoEscape.js"></script>



	</body>
</html>
