<h1>{{solution.title}}</h1>
<div class='well'>
    <div class="row">
        <div class="col-md-4"><b>Source:</b><br/>
        {{solution.source}}</div>
        <div class="col-md-4"><b>Price:</b><br/>{{solution.price}}</div>
        <div class="col-md-4"><b>Phone Number:</b><br/>{{solution.phoneNumber}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{solution.hours}}</div>
        <div class="col-md-4"><a href='{{solution.link}}'>{{solution.link}}</a></div>
        <div class="col-md-4">{{solution.tags}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{solution.expireDate}}</div>
        <div class="col-md-4">{{solution.imgLink}}
            <img ng-show='solution.imgLink' src='{{solution.imgLink}}' />
        </div>
        <div class="col-md-4">{{solution.description}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">>
            <address>{{solution.address}}</address>
        </div>
        <div class="col-md-6">{{solution.notes}}</div>
    </div>
</div>
