<div class="container">
    <auth mode='login' retry="refresh()"></auth>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center expert-title">Share your expertise and help solve this task</h2>
            <dzr-item item="item" user="user" mode="expert"></dzr-item>
            <div class="col-xs-8 col-xs-offset-2 expert-button">
                <new-solution btn-text="Create a new tip" map-item="item" mapped-solutions="solutions" mode="expert"></new-solution>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-if="solutions.length > 0">
            <h3>Tips matched to this task <span ng-if='solutions.length>0'>({{solutions.length}})</span></h3>
            <div ng-show='solutions.length < 1'>
                    No tips linked to this task
            </div>
            <div ng-repeat="solution in solutions | orderBy:'-date_associated'">
                <dzr-solution solution="solution" mode="expert"></dzr-solution>
            </div>
        </div>
    </div><!--/.row-->
</div><!--/.container-->
