<dzr-item item="item" expert="true"></dzr-item>

<h3>Linked Solutions <span ng-if='solutions.length>0'>({{solutions.length}})</span></h3>
<div ng-show='solutions.length < 1'>
        No solutions linked to this task
</div>
<div ng-repeat="solution in solutions | orderBy:'-created_at'">
    <dzr-solution solution="solution" check-toggle="1" toggle-action="toggleMap(solution)" expert="true-min"></dzr-solution>
</div>
<br/>
<br/>
<h3>All Solutions <span ng-if='allsolutions.length>0'>({{allsolutions.length}})</span></h3>
<div ng-show='allsolutions.length < 1'>
        There are no solutions! Go create some!
</div>
<div ng-repeat="solution in allsolutions | orderBy:'-created_at'">
    <dzr-solution solution="solution" check-toggle="checkLink(solution)" toggle-action="toggleMap(solution)" expert="true-min"></dzr-solution>
</div>

