<h1 ng-hide='list.archive'>{{list.title}}</h1>
<h1 ng-show='list.archive'><strike>{{list.title}}</strike> (Archived)</h1>
<div ng-hide='list.archive'>
    <form id="new-item-form" ng-submit="addItem()" class='input-group input-group'>
        <input id="new-item" placeholder="New Item" ng-model="newItem" ng-disabled="saving" autofocus class='form-control'>
    </form>
</div>
<div ng-show='items.length === 0'>
    <h2>No Items</h2>
    <p>There are no items in this list, please add one from above.</p>
</div>
<ul ui-sortable="sortableOptions" style='list-group' ng-model="items">
    <li class='list-group-item item' ng-repeat="item in items | orderBy:['done', 'order']">
        <div ng-class="item == editedItem  ? 'hidden' : 'show'">
            <span class="glyphicon glyphicon-check" ng-if='item.done' ng-click='toggle(item)'></span>
            <span class="glyphicon glyphicon-unchecked" ng-if='!item.done' ng-click='toggle(item)'></span>
            <label ng-click="editItem(item)">{{item.title}}</label>
              <!--for testing only:  <label ng-click="editItem(item)">{{item.title}}  order: {{item.order}}  done: {{item.done}}  archive: {{item.archive}}</label> -->
            <span class="glyphicon glyphicon-remove pull-right" ng-click='removeItem(item)'></span>
        </div>
        <div ng-class="item == editedItem  ? 'show' : 'hidden'">
            <form ng-submit="saveEdits(item, 'submit')" class='input-group input-group'>
                <span class="glyphicon glyphicon-check text-muted" ng-if='item.done'></span>
                <input class="edit" ng-trim="false" ng-model="item.title" item-escape="revertEdits(item)" ng-blur="saveEdits(item, 'blur')" item-focus="item == editedItem" class='form-control'>
            </form>
        </div>
    </li>
</ul>
