<h1 ng-hide='list.archive'>{{list.title}}</h1>
<h1 ng-show='list.archive'><strike>{{list.title}}</strike> (Archived)</h1>
<div ng-hide='list.archive'>
    <form id="new-item-form" ng-submit="addItem()" class='input-group input-group'>
        <input id="new-item" placeholder="New Item" ng-model="newItem" ng-disabled="saving" autofocus class='form-control'>
    </form>
</div>
<div ng-show='items.length === 0'>
    <h2>No Items</h2>
    <p>There are no items in this list, please add one from above.</p>
</div>

<ul class="list-group" id="itemsparent" ui-sortable="sortableOptions" ng-model="items"> 
    <li class="row panel panel-row-override list-group-item item" ng-repeat="item in items | limitTo:indexOfFirstDone()">
       <div ng-class="item == editedItem  ? 'hidden' : 'show'">
            <span class="glyphicon glyphicon-check col-xs-1 col-override" ng-if='item.done' ng-click='toggle(item)'></span>
            <span class="glyphicon glyphicon-unchecked col-xs-1 col-override testoutline" ng-if='!item.done' ng-click='toggle(item)'></span>
            <div class="col-xs-10 col-override testoutline" data-toggle="collapse" data-parent="#itemsparent" data-target="{{'#item-' + item.id}}">      
                <label ng-click="editItem(item)">{{item.title}}</label>
            </div>  
            <span class="glyphicon glyphicon-remove col-xs-1 col-override testoutline" ng-click='removeItem(item)'></span>
        </div>
        
        <div ng-class="item == editedItem  ? 'show' : 'hidden'" class="unsortable">
            <form ng-submit="saveEdits(item, 'submit')" class='input-group input-group'>
                <span class="glyphicon glyphicon-check text-muted col-xs-1 col-override" ng-if='item.done'></span>
                <input class="edit col-xs-6 col-override col-xs-offset-1 testoutline" ng-trim="false" ng-model="item.title" item-escape="revertEdits(item)" ng-blur="saveEdits(item, 'blur')" item-focus="item == editedItem" class='form-control'>
            </form>
        </div>
        
       <div class="collapse col-xs-12 col-override testoutline" id="{{'item-' + item.id}}">TEST properties for task: {{item.id}}</div>
     </li>
</ul>


<ul class="list-group group-header-group" style='list-group' ng-model="items">
    <li class='list-group-item group-header' ng-class="{'group-header-with-list': isDoneGroupOpen}" data-toggle="collapse" data-target=".donecollapse" ng-click="isDoneGroupOpen=!isDoneGroupOpen" ng-dblclick="isDoneGroupOpen=!isDoneGroupOpen">
        <span class="glyphicon glyphicon-chevron-right" ng-if="!isDoneGroupOpen" data-toggle="collapse" data-target=".donecollapse"></span>
        <span class="glyphicon glyphicon-chevron-down" ng-if="isDoneGroupOpen" data-toggle="collapse" data-target=".donecollapse"></span>
         Completed ({{items.length - indexOfFirstDone()}})
    </li>
</ul>

<ul class="list-group collapse donecollapse" style='list-group' ng-model="items">
    <li class='row panel panel-row-override list-group-item item list-with-group-header' ng-repeat="item in items | limitTo:-items.length+indexOfFirstDone()">
        <div ng-class="item == editedItem  ? 'hidden' : 'show'">
            <span class="glyphicon glyphicon-check col-xs-1 col-override testoutline" ng-if='item.done' ng-click='toggle(item)'></span>
            <span class="glyphicon glyphicon-unchecked col-xs-1 col-override" ng-if='!item.done' ng-click='toggle(item)'></span>
            <div class="col-xs-10 col-override testoutline" data-toggle="collapse" data-parent=".donecollapse" data-target="{{'#item-' + item.id}}">      
                <label ng-click="editItem(item)">{{item.title}}</label>
            </div>
            <span class="glyphicon glyphicon-remove col-xs-1 col-override testoutline" ng-click='removeItem(item)'></span>
        </div>
        
        <div ng-class="item == editedItem  ? 'show' : 'hidden'">
            <form ng-submit="saveEdits(item, 'submit')" class='input-group input-group'>
                <span class="glyphicon glyphicon-check text-muted col-xs-1 col-override testoutline" ng-if='item.done'></span>
                <input class="edit col-xs-6 col-override col-xs-offset-1 testoutline" ng-trim="false" ng-model="item.title" item-escape="revertEdits(item)" ng-blur="saveEdits(item, 'blur')" item-focus="item == editedItem" class='form-control'>
            </form>
        </div>
        
        <div class="collapse col-xs-12 col-override testoutline" id="{{'item-' + item.id}}">TEST properties for task: {{item.id}}</div>
    </li>
</ul>


