<div class="container">
    
<div class="row">
    <h1>Doozer Home - Lists</h1>
    <div ng-hide="loggedIn">
        <h3>Please Login with Facebook</h3>
        <p>Please click here to <button type="button" ng-click="login()" class="btn btn-default navbar-btn">
            Login
        </button></p>
    </div>
    <div ng-show="loggedIn">
        <form id="new-list-form" ng-submit="addList()" class='input-group input-group-lg'>
            <input id="new-list" class='form-control' placeholder="New List" ng-model="newList" ng-disabled="saving" autofocus>
        </form>
        <ul class='list-group'>
            <li class='list-group-item item' ng-repeat="item in lists | orderBy:'order'">
                <div ng-class="item == editedItem  ? 'hidden' : 'show'">
                    <label ng-dblclick="editItem(item)">{{item.title}}</label>
                    ({{item.children_undone}})
                    <a ng-href='#/{{item.id}}'>view list &gt; </a>
                    <span class="glyphicon glyphicon-remove pull-right" ng-click='removeList(item)'></span>
                </div>
                <div ng-class="item == editedItem  ? 'show' : 'hidden'">
                    <form ng-submit="saveEdits(item, 'submit')">
                        <input class="edit" ng-trim="false" ng-model="item.title" item-escape="revertEdits(item)" ng-blur="saveEdits(item, 'blur')" item-focus="item == editedItem">
                    </form>
                </div>
            </li>
        </ul>
        <p>You are logged in as {{username}}, click here to <a class="btn btn-default navbar-btn" ng-click="logout()">Logout</a></p>
    </div>
</div>

</div>
