<dzr-solution solution="solution" expert="true" save-edits="saveSolutionEdits(solution)"></dzr-solution>
<br />

<div class='well'>
    <h3>Linked Tasks <span ng-if='items.length>0'>({{items.length}})</span></h3>
    <div ng-show='items.length < 1'>
        No tasks linked to this solution
    </div>
    <ul style='list-group'>
        <li class='list-group-item' ng-repeat="item in items">
            <dzr-item item="item" check-toggle="true" toggle-action="toggleMap(item)"></dzr-item>
        </li>
    </ul>
</div>
<div class='well'>
    <h3>Search tasks to link</h3>
    <div class="row">
        <form id="search-form" ng-submit="search()">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" ng-model='searchTerm' class="form-control" placeholder="Search for task titles">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">
          <span class="glyphicon glyphicon-search"></span>&nbsp;
                    </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class='row'>
        <div ng-show='results.length < 1'>
        <p>No task titles match that search term. Please try again.</p>
        <p>Search completed in {{request_time}}.</p>
    </div>
        <div class="col-lg-12" ng-show='results.length > 0'>
            <p>Search completed in {{request_time}}. {{results.length}} results.</p>
            <ul style='list-group'>
                <li class='list-group-item' ng-repeat="result in results" ng-if="result.parent!=''">
                    <dzr-item item="result" check-toggle="checkLink(result)" toggle-action="toggleMap(result)"></dzr-item>
                </li>
            </ul>
        </div>
    </div>
</div>
