<div class="container-fluid"><div class="row">
    
    
<div class="col-xs-6">
    <dzr-solution solution="solution" expert="true" save-edits="saveSolutionEdits(solution)"></dzr-solution>
</div>

<div class="col-xs-6">
    <div class='well'>
        <h3>Linked Tasks <span ng-if='items.length>0'>({{items.length}})</span></h3>
        <div ng-if='items.length < 1'>
            No tasks linked to this solution
        </div>
        <div ng-repeat="item in items" ng-if="items.length > 0">
            <dzr-item item="item" check-toggle="1" toggle-action="toggleMap(item)" expert="true-min"></dzr-item>
        </div>
    </div>
    <div class='well'>
        <h3>Search tasks to link</h3>
        <div class="row">
            <form id="search-form" ng-submit="search()">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" ng-model='searchTerm' class="form-control" placeholder="Search for task titles">
                        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search()">
            <span class="glyphicon glyphicon-search"></span>&nbsp;
                        </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class='row'>
            <div ng-show='results.length < 1'>
            <p>No task titles match that search term. Please try again.</p>
            <p>Search completed in {{request_time}}.</p>
        </div>
            <div class="col-lg-12" ng-show='results.length > 0'>
                <p>Search completed in {{request_time}}. {{results.length}} results.</p>
                <div ng-repeat="result in results" ng-if="result.parent!=''">
                    <dzr-item item="result" check-toggle="checkLink(result)" toggle-action="toggleMap(result)" expert="true-min"></dzr-item>
                </div>
            </div>
        </div>
    </div>
</div>

</div></div>
