<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Sign in to Doozer">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
            <div class="modal-header">
				<img class="img-responsive brand-img" src="/icons/fulllogo-180.png" />
                <h5 class="modal-title">Matching your to-do list with tips from experts</h5>
            </div>
            <div class="modal-body">
				<h3>Please sign in with Facebook</h3>
				<button type="button" ng-click="login()" class="btn btn-default">
					Sign in
				</button>
			</div> 
		</div>
	</div>
</div>

<div></div>
        
				
<p ng-if="mode=='logout'">You are logged in as {{username}}, click here to <a class="btn btn-default" ng-click="logout()">Logout</a></p>