<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Sign in to Doozer">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Please sign in with Facebook</h3>
            </div>
            <div class="modal-body">
				<button type="button" ng-click="login()" class="btn btn-default">
					Sign in
				</button>
			</div> <!-- /.modal-body-->
		</div><!-- /.modal-content-->
	</div><!--/.modal-dialog-->
</div>

    
        
				
<!--TODO: fix this: <p ng-if="mode=='logout'">You are logged in as {{username}}, click here to <a class="btn btn-default" ng-click="logout()">Logout</a></p> -->