<div class="panel panel-default panel-body item-panel">

<div class="row">
    <div class="col-xs-1 item" ng-if="checkToggle()">
        <span class="glyphicon glyphicon-check" ng-if='checkToggle(item)>=0' ng-click='toggleAction(item)'></span>
        <span class="glyphicon glyphicon-unchecked" ng-if='checkToggle(item)===-1' ng-click='toggleAction(item)'></span>
    </div>
    <div class="col-xs-11">
        <div ng-if="item.done==true">
            <a class="item" ng-href='#/{{item.id}}/itemexpert' ng-if="expert=='true-min'"><s>{{item.title}} <span ng-if="item.archive==true">(archived)</span></s></a>
            <h3 ng-if="expert=='true' || expert=='false'"><s>{{item.title}} <span ng-if="item.archive==true">(archived)</span></s></h3>
        </div>
        <div ng-if="item.done!=true">
            <a class="item" ng-href='#/{{item.id}}/itemexpert' ng-if="expert=='true-min'">{{item.title}} <span ng-if="item.archive==true">(archived)</span></a>
            <h3 ng-if="expert=='true' || expert=='false'">{{item.title}} <span ng-if="item.archive==true">(archived)</span></h3>
        </div>
        <h5><span class="text-muted">Due <span ng-if="!item.duedate">someday</span></span><strong>{{item.duedate | date:'EEEE, MMM d, y'}}</strong></h5>
        <div class="panel panel-default panel-body">
            <span class="text-muted">Notes: </span>{{item.notes}}
        </div>
    </div>
</div>

<a class="pull-right" href='#/{{item.parent}}' target="_blank" ng-if="expert=='false'">List: {{item.parentTitle}}
    <span class="glyphicon glyphicon-menu-right"></span>
</a>

<div class="row well item-well" ng-if="expert!='false'">
    <div class="col-xs-4">
        Created: {{item.created_at | date:'shortDate'}}<br/>
        Updated: {{item.updated_at | date:'shortDate'}}
    </div>
    <div class="col-xs-8">
        <div ng-if="user">{{user.gender}}, {{user.locale}}<span ng-if="user.role">, {{user.role}}</span></div>
        <div>
            <span ng-if="item.parentTitle">List: {{item.parentTitle}}</span>
            <span class="pull-right">
                <strong>{{item.solutions_count}}
                <span ng-if="item.solutions_count===1"> solution</span>
                <span ng-if="item.solutions_count!=1"> solutions</span>
                </strong>
            </span>
        </div>
    </div>
</div>  

</div>