<div class="panel panel-default"><div class="panel-body testoutline">

<div class="row item">
    <span class="glyphicon glyphicon-check col-xs-1" ng-if='checkToggle(item)>=0' ng-click='toggleAction(item)'></span>
    <span class="glyphicon glyphicon-unchecked col-xs-1" ng-if='checkToggle(item)===-1' ng-click='toggleAction(item)'></span>
    <span class="col-xs-11" ng-if="item.done==true">
        <a ng-href='#/{{item.id}}/itemexpert' ng-if="expert=='true-min'"><s>{{item.title}} <span ng-if="item.archive==true">(archived)</span></s></a>
        <h3 ng-if="expert=='true' || expert=='false'"><s>{{item.title}} <span ng-if="item.archive==true">(archived)</span></s></h3>
    </span>
    <span class="col-xs-11" ng-if="item.done!=true">
        <a ng-href='#/{{item.id}}/itemexpert' ng-if="expert=='true-min'">{{item.title}} <span ng-if="item.archive==true">(archived)</span></a>        
        <h3 ng-if="expert=='true' || expert=='false'">{{item.title}} <span ng-if="item.archive==true">(archived)</span></h3>
    </span>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-1">
        <div class="row" ng-if="expert!='false'"><div class="col-xs-12">Created: {{item.created_at | date:'shortDate'}}</div></div>
        <div class="row" ng-if="expert!='false'"><div class="col-xs-12">Updated: {{item.updated_at | date:'shortDate'}}</div></div>
        <div class="row"><div class="col-xs-12">Duedate:     {{item.duedate | date:'shortDate'}}</div></div>
    </div>
    <div class="col-xs-8">
        <div class="row" ng-if="expert!='false'"><div class="col-xs-12">
            <strong>{{item.solutions_count}}
                <span ng-if="item.solutions_count===1"> solution</span>
                <span ng-if="item.solutions_count!=1"> solutions</span>
            </strong>
        </div></div>
        <div class="row"><div class="col-xs-12">Notes: {{item.notes}}</div></div>
        <div class="row"><div class="col-xs-12">
            <span ng-if="expert!='false' && user">{{user.gender}}, {{user.locale}}<span ng-if="user.role">, {{user.role}}</span></span>
            <span class="pull-right" ng-if="expert!='false'">List: {{item.parentTitle}}</span>
            <a class="pull-right" href='#/{{item.parent}}' target="_blank" ng-if="expert=='false'">List: {{item.parentTitle}}
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div></div>
    </div>
</div>  

</div></div>