<div class="panel panel-default">
    <div class="panel-body no-topbottom-padding testoutline">
        <div class="media">
            <div class="media-left testoutline" ng-if="solution.img_link">
                <a href="{{solution.link}}"><img src='{{solution.img_link}}' height="200px" /></a>
            </div>
            <div class="media-body testoutline">
                <div class="row testoutline">
                    <div class="col-xs-10">
                        <h3><a href="{{solution.link}}">{{solution.title}}</a></h3>
                    </div>
                    <div class="col-xs-2" ng-if="expert=='true-min'">       
                            <a href="#/solution/{{solution.id}}"><strong>{{solution.items_count}} tasks</strong></a>
                    </div>
                </div>
                <div class="row testoutline">
                    <div class="col-xs-12 testoutline">{{solution.description}}</div>
                </div>
                <div class="row testoutline">
                    <div class="col-xs-6">{{solution.source}}</div>
                    <div class="col-xs-6 testoutline">{{solution.address}}</div>
                </div>
                <div class="row testoutline">
                    <div class="col-xs-6">{{solution.price | currency}}</div>
                    <div class="col-xs-6 testoutline">{{solution.phone_number}}</div>
                </div>
                <div class="row testoutline">
                    <div class="col-xs-6 col-xs-offset-6 testoutline">{{solution.open_hours}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-xs-offset-8">
                <h3><span class="glyphicon glyphicon-thumbs-up testoutline button" ng-click='likeSolution(solution)'></span></h3>
            </div>
            <div class="col-xs-1">
                <h3><span class="glyphicon glyphicon-thumbs-down testoutline button" ng-click='dislikeSolution(solution)'></span></h3>
            </div>
            <div class="col-xs-2">
                <a ng-if="expert=='true-min'" class="btn btn-primary" href="#/solution/{{solution.id}}">Edit Solution</a>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-if="expert=='true'">
    <div class="panel-heading testoutline">
        <div class="row testoutline">
            <h3 class="col-xs-12 panel-title">Experts internal info for solution #{{solution.id}}</h3>
            <div class="col-xs-6">Created: {{solution.created_at | date}}</div>
        </div>
    </div>
    <div class="panel-body testoutline">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-2" for="tagsinput"><b>Tags: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Tags (comma separated)" ng-model="solution.tags" id="tagsinput" name="tagsinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="linkinput"><b>Link: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Link (include http)" ng-model="solution.link" id="linkinput" name="linkinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="imginput"><b>Image Link: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Image Link (include http)" ng-model="solution.img_link" id="imginput" name="imginput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="expireinput"><b>Expiration date: </b></label>
                <div class="col-xs-4">
                    <input type="date" class="form-control" ng-trim="true" placeholder="Expiration date" ng-model="solution.expire_date" id="expireinput" name="expireinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="notesinput"><b>Notes for experts: </b></label>
                <div class="col-xs-10">
                    <textarea class="form-control" ng-trim="true" placeholder="Internal notes for experts" ng-model="solution.notes" id="notesinput" name="notesinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default" ng-if="expert=='true'">
    <div class="panel-heading testoutline">
        <div class="row testoutline">
            <h3 class="col-xs-12 panel-title">User-visible solution properties</h3>
        </div>
    </div>
    <div class="panel-body testoutline">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-2" for="titleinput"><b>Title: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Title" ng-model="solution.title" id="titleinput" name="titleinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="sourceinput"><b>Source: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Source (name of site/service linked to)" ng-model="solution.source" id="sourceinput" name="sourceinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="priceinput"><b>Price: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Price (don't include currency sign)" ng-model="solution.price" id="priceinput" name="priceinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="phoneinput"><b>Phone number: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Phone number" ng-model="solution.phone_number" id="phoneinput" name="phoneinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="hoursinput"><b>Open hours: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Open hours" ng-model="solution.open_hours" id="hoursinput" name="hoursinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="addressinput"><b>Address: </b></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-trim="true" placeholder="Address" ng-model="solution.address" id="addressinput" name="addressinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="descripinput"><b>Description: </b></label>
                <div class="col-xs-10">
                    <textarea class="form-control" ng-trim="true" rows="4" placeholder="Description" ng-model="solution.description" id="descripinput" name="descripinput" ng-change="saveEdits(solution)" ng-model-options="{updateOn: 'default blur submit', debounce:{default:2000, blur:0}}"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
